body {
  margin: 0;
  padding: 10px;
  min-height: 100vh;
  background-color: #49414b;
  color: #2d3748;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.console {
  border-radius: 12px;
  background: #cacaca;
  overflow: hidden;
}

.console__screen {
  background: #101010;
  margin-bottom: 20px;
}

.console__rom {
  padding: 0 20px;
  margin-bottom: 15px;
}

.console__controls {
  margin-bottom: 20px;
  padding: 0 20px;
}

.screen {
  position: relative;
}

.screen__canvas {
  display: block;
}

.screen__unmute {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 10px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  font-size: 1.1em;
  white-space: nowrap;
}

/* Controls styles are inspired by
   https://codepen.io/injectilo/pen/MYJrmm */

.controls {
  padding: 25px 20px;
  background: #4e4e4e;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}

.controls__dpad {
  position: relative;
}

.controls__center {
  margin-top: 60px;
}

.controls__ab {
  margin-top: 50px;
}

.dpad {
  position: relative;
  height: 110px;
  width: 110px;
  color: #000000;
}

.dpad__horizontal {
  position: absolute;
  width: 100%;
  height: 38px;
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  background: #252725;
  z-index: 1;
}

.dpad__vertical {
  position: absolute;
  width: 38px;
  height: 100%;
  left: 50%;
  border-radius: 4px;
  transform: translateX(-50%);
  background: #252725;
  z-index: 2;
}

.dpad__button {
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  position: absolute;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
  width: 38px;
  height: 38px;
  z-index: 1;
}

.dpad__button.-left {
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
  z-index: 0;
  left: 0;
}

.dpad__button.-right {
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
  z-index: 0;
  right: 0;
}

.dpad__button.-up {
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5) ;
  z-index: 1;
  top: 0;
}

.dpad__button.-down {
  bottom: 0;
}

.dpad__border {
  position: absolute;
  background: #edece7;
}

.dpad__border.-vert {
  width: 42px;
  top: -2px;
  bottom: -2px;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
}

.dpad__border.-horiz {
  height: 42px;
  left: -2px;
  right: -2px;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
}

.dpad__circle {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 3;
  border-radius: 50%;
  background: linear-gradient(180deg, rgb(22, 22, 22) 30%, rgb(58, 58, 58) 100%);
  box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.1);
}

.center-buttons {
  margin: auto;
  width: 142px;
  height: 40px;
  border-radius: 10px;
  background-color: #edece7;
  border: 4px solid #e0ded4;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: flex;
}

.center-buttons__button {
  position: relative;
  top: 3px;
  width: 42px;
  height: 18px;
  cursor: pointer;
  user-select: none;
  background-color: #464646;
  border-radius: 10px;
  border: 1px solid #272723;
  margin: 9px 13px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.51);
}

.center-buttons__label {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  font-weight: bold;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
}

.ab {
  position: relative;
  display: flex;
}

.ab__border {
  position: relative;
  border-radius: 4px;
  background-color: #edece7;
  margin-left: 6px;
  padding: 6px;
}

.ab__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  color: rgba(255, 255, 255, 0.6);
  border: 1px rgba(0, 0, 0, 0.51) solid;
  background: linear-gradient(to bottom, #df2015 0%, #f84936 100%);
  box-shadow: inset 0 1px 2px 0 #fbfbfb, 0 1px 1px 0 rgba(0, 0, 0, 0.71);
}

.rom-select {
  border-radius: 12px;
  background: #edece7;
  border: 1px dashed #4e4e4e;
  text-align: center;
  cursor: pointer;
  display: block;
  padding: 15px;
}

.rom-select svg {
  position: relative;
  top: 3px;
}

.source-link {
  padding: 15px 0;
  text-align: center;
  font-size: 0.9em;
}

.source-link a {
  color: #a9a9a9;
}
